<div class='email-container'>
  <p class='disclaimer'>
    <strong>Name:</strong> <%= content.name %><br />
    <strong>Company:</strong> <%= content.company %><br />
    <strong>Email:</strong> <%= content.email %><br />
    <% if (content.phone) { %>
      <strong>Phone:</strong> <%= content.phone %><br />
    <% } %>
    <strong>Message:</strong> <%= content.message %><br />
  </p>
</div>
