<div class='email-container'>
  <p class='email-body'>
    Name: <%= content.name %>
    Company: <%= content.company %>
    Email: <%= content.email %>
    <% if (content.phone) { %>
      Phone: <%= content.phone %>
    <% } %>
    Message: <%= message %>
  </p>
</div>
<style>
  .email-container {
    color: green;
  }
</style>
